


.BUTTON2-custom{
    color: firebrick;
}


.contenedor2{
    color: white;  /*modifica el color de la letra*/
    background-color: black;/*color de fondo*/
    font-size: 20px;/*Tamaño de letra*/
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    /text-align: right;/*alineacion del texto*/
    border: 2px solid black;    /*(ancho de la linea, tipo)*/
    border-radius: 10px;    /*radio del borde*/
    width: 800px;   /*ancho*/
    height: 400px;  /*alto*/
    margin-left: 300px;

}

.contenedor2-flexible{
    display: flex;
}
