.contenedor2 {
    width: 400px; /* Ajusta el ancho según sea necesario */
    border: 15px solid #000000;
   
    display: flex; /* Usamos flexbox para organizar los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    border-radius: 10px;
}

.foto-perfil {
    width:40% ; /* Ajusta el tamaño de la imagen */
    
    border-radius: 50%; /* Hace la imagen circular */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    border-radius: 10px;
}

.info-usuario {
    text-align: center; /* Alinea el texto a la izquierda */
    margin-top: -10px;
}

.estado {
    margin-top: -25px; /* Espacio entre el nombre y el estado */
    background-color: gray;
}

.circulo-verde {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 5px; /* Espacio entre el círculo y el texto */
}


p h2{
    margin: 0;
}
/* ... tu CSS anterior ... */

.info-adicional {
    color: gray; /* Texto en gris */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    /*margin: 5px 0; /* Espacio entre las líneas */
    margin-bottom: 8px;
}

.valor {
    color: black; /* Texto negro para los valores */
}